{% extends 'base.html' %}

{% block title %}
<title>Create- Product</title>
{% endblock title %}

{% block content %}
    <div style="margin-top: 1rem">
      <h2 style="text-align: center">Create Product</h2>
      <div class="container">
        <form method="POST" action="{% url 'products:create-product' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" required name="name" />
          </div>
          <div class="mb-3">
            <label class="form-label">Price:</label>
            <input type="number" class="form-control" required name="price" />
          </div>
          <div class="mb-3">
            <label class="form-label">Code:</label>
            <input type="number" class="form-control" required name="code" />
          </div>
          <div class="mb-3">
            <label class="form-label">Quantity:</label>
            <input
              type="number"
              class="form-control"
              required
              name="quantity"
            />
          </div>

          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              name="is_availible"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Is Availible</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Create Product</button>
        </form>
      </div>
    </div>
{% endblock content%}