<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% for product in products %}
      <div>
        <p>{{product.name}}</p>
        <p>{{product.price}}</p>
        <p>{{product.code}}</p>
        <p>{{product.quantity}}</p>
        <p>{{product.created}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
